.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
 color: orange;
 background-color: #0000ff;
}
  
.container {
 color: white;
 background-color: black;
}

#section-1 {
  color: yellow;
  background-color: #ff009937; 
}

#section-6 {
 color: black;
 background-color: #ff0004;
}
